<header>
<h1>Registration Form</h1>
</header>

<div fxLayout="column">
    <form [formGroup]="registrationForm" (submit)="register(registrationForm)">

<fieldset>
    <mat-icon>perm_identity</mat-icon>
    <label for="username"><b>Name:</b></label>
    <input type="text" name="name" required/><br><br>
</fieldset>

<fieldset>
    <mat-icon>how_to_reg</mat-icon>
    <label for="username"><b>Username:</b></label>
    <input type="text" username="username" required/><br><br>
</fieldset>

<fieldset>
    <mat-icon>lock</mat-icon>
    <label for="password"><b>Enter-Pass:</b></label>
    <input type="password" name="password" required /><br><br>
</fieldset>

<fieldset>
    <mat-icon>autorenew</mat-icon>
    <label for="passwordconfirm"><b>Confirm-Pass:</b></label>        
    <input type="password" name="password" required /><br><br>

</fieldset>

    <button mat-raise-button><mat-icon>how_to_reg</mat-icon><b>Register</b></button><br><br>
    <a routerLink="/login">Login</a>

</form>
</div>

