body {
  height:100vh;
}  
  header {
    text-align: center;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-bottom:6%;
    margin-top:3%;
  }


p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 400px;
    font-size: 11px;
}

div {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  height: 85vh;
  align-items: center;
  justify-content: center space-around;
}


