<header>
<h1>Registration Form</h1>
</header>

<div>
<form align="center"> 
    
    <label for="username"><b>Name:</b></label>
    <input type="text" name="name"/><br><br>
    <label for="username"><b>Username:</b></label>
    <input type="text" username="username"/><br><br>
    <label for="password"><b>Enter-Pass:</b></label>
    <input type="password" name="password" /><br><br>
    <label for="passwordconfirm"><b>Confirm-Pass:</b></label>
    <input type="password" name="password" /><br><br>
    <button >Register</button><br><br>
    <a routerLink="/Login">Login</a>

</form>
</div>

