h1 {
    font-size: 2em;
    margin-top:5.5%;
    text-align: center;
}

form {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center space-around;
    margin: 30%;
}

.item {
    padding:3px;
    margin:8px;
}

.row{
    padding:2px;
    border-top: 0.5px;
    border-left:0px;
    border-right:0px;
    border-bottom: 0.5px;
    border-style: solid;
}



mat-label {
    text-align: center;
    align-self: center;
    padding: 2px;
}

mat-icon {
    padding-left:8px;
    padding-right:8px;
}

.mat-card {
    display: flex;
    flex-grow: 1;
    margin-top:8vh;
    padding-left:3vw;
    padding-right:3vw;
    margin-left:3vw;
    margin-right:3vw;
    flex-direction: column;
    align-content: center;
    align-self: center;
}

.mat-form-field {
    text-align: center;
    max-width: 50vw !important;
    min-width: 260px;
}
