h1 {
    font-size: 2em;
    margin-top: 10%;
    color: rgb(47, 47, 204);
}

mat-label {
    text-align: center;
    align-self: center;
    padding: 2px;
}

table {
    width:95%;
    max-width: 800px;
}

td {
    padding: 15px;
    text-align: center;
}


mat-card {
    width:95%;
    max-width: 800px;
    padding:10px;
    margin: 10px;
}