<div class="pageContainer">
<mat-card>
    <mat-card-content>
    <table>
        <thead>
            <tr>
              <th>ID</th>
              <th>Domain</th>
              <th> </th>
            </tr>
            </thead>
           
            <tbody>
            <tr class="row" *ngFor="let item of searchResults[0]">
                <td>{{item.id}}</td>
                <td>{{item.domain}}</td>
                <td>
                    <p type="password">{{item.password}}
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>
</div>