
.logo {
  background-image: url('src/assets/img/WBBLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  height: 55px;
  width: 55px;
}

.menu-container {
  max-width: 100vw;
  width: 100vw;
  height: 96vh;
  border: 0px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  height: 80vh;
  align-items: center;
  justify-content: flex-start space-around;
}
 
.sidenav {
  padding: 15px;
}

mat-icon {
  padding:2px;
}

.sidenav-button {
  width:100%;
}

.sidenav-settings-button {
  display: flex;
  flex-flow: row;
  width:100%;
  align-items: center;
}

.sidenav-bottom-button {
  display: flex;
  flex-flow: row;
  flex-basis: inherit;
  width: 100%;
  align-items: center;
  align-self: flex-end;
}

a {
  padding: 5px;
  margin:15px;
}

  