

.menu-container {
  width: 100vw;
  height: 100vh;
  border: 0px solid rgba(0, 0, 0, 0.5);
}

.openClose {
  position:fixed;
	width:40px;
	height:40px;
	top:10px;
	left:75px;
  color : rgb(255,255,255,1);
  background-color:  rgba(7, 66, 109, 0.96);
  border-radius: 20px;
  z-index: 999;
}

.openCloseIcon {
  font-size: 24px;
  margin: 0px !important;
  padding:0px !important;  
}

.sidenav {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-start space-around;
}

.sidenav-content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  height: 95vh;
  align-items: center;
  justify-content: center space-around;
}

.sidenav-content-smaller {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  height: 89vh;
  align-items: center;
  justify-content: flex-start;
}

img {
  display: flex;
  flex-grow: 0;
  height: 45px;
  width: 45px;
  margin-top:5px;
}

.menu-logo {
  display: flex;
  flex-direction: row;
  width:100%;
  align-items: center;
  justify-content: center;  
}

.sidenav-button {
  display: flex;
  flex-direction: row;
  flex-grow:0;
  width:80%;
  align-items: flex-start;
  justify-content: center;
  padding:3px 0px !important;
  margin:3px 0px !important;
}

mat-icon {
  padding:1px;
}

.sidenav-bottom-button {
  display: flex;
  flex-flow: row;
  flex-grow: 0;
  align-items: center;
  justify-content: center; 
}

.sidenav-logout-button {
  display: flex;
  flex-direction: row;
  flex-grow:0;
}

.sidenav-settings-button {
  display: flex;
  flex-direction: row;
  flex-grow:0;
}
  