<mat-drawer-container class="menu-container" autosize>

  <button aria-label="Button to expand menu" class="openCloseIcon" *ngIf="openOrClosed" fxHide fxShow.xs fxShow.sm fxShow.md mat-icon-button class="openClose" (click)="showText = !showText">
    <mat-icon aria-label="Expand menu icon" >arrow_right</mat-icon>
  </button>
  <router-outlet></router-outlet>

  <mat-drawer #drawer [opened]="openOrClosed" class="sidenav" mode="side">

    <div ngClass="sidenav-content"
      [ngClass.xs]="{'sidenav-content-smaller':true ,'sidenav-content':false}"
      [ngClass.sm]="{'sidenav-content-smaller':true ,'sidenav-content':false}"
      [ngClass.md]="{'sidenav-content-smaller':true ,'sidenav-content':false}" >
      <div class="menu-logo">
        <img [src]="logoUrl" [style.width]="logoWidth" [style.height]="logoHeight" alt="WBB Pasword Manager Logo" (error)="logoUrl = 'assets/icons/icon-512x512.png'">
      </div>
      <br>

      <a mat-button aria-label="Menu button, click to open assessment" (click)="navigateToLink('/home')" class="sidenav-button"><mat-icon>assessment</mat-icon> {{showText ? 'Summary' : ''}}</a>
      <a mat-button aria-label="Menu button, click to open run a checkup" (click)="navigateToLink('/checkup')" class="sidenav-button"><mat-icon>search</mat-icon> {{showText ? 'Checkup' : ''}}</a>
      <a mat-button aria-label="Menu button, click to add a password" (click)="navigateToLink('/newpassword')" class="sidenav-button"><mat-icon>add_circle</mat-icon> {{showText ? 'New Password' : ''}}</a>
      <a mat-button aria-label="Menu button, click for help" (click)="navigateToLink('/help')" class="sidenav-button"><mat-icon>help</mat-icon> {{showText ? 'Help' : ''}}</a>
    </div>

    <div class="sidenav-bottom-button">
      <a class="sidenav-logout-button" mat-button aria-label="Menu button, click to log out" (click)="logout()"><mat-icon>exit_to_app</mat-icon> {{showText ? 'Logout' : ''}}</a>
    <div *ngIf="showText">
      <a class="sidenav-settings-button" mat-button aria-label="Menu button, click to open settings" (click)="navigateToLink('/usersettings')"><mat-icon>settings</mat-icon>Settings</a>
    </div>

  </div>

  </mat-drawer>

</mat-drawer-container>
