
img {
  display: flex;
  flex-grow: 0;
  height: 55px;
  width: 55px;
}

.openClose {
  color : rgb(255,255,255,1);
  background-color:  rgba(7, 66, 109, 0.96);
  border-radius: 20px;
  height: 40px;
  width: 40px;
  margin: 10px;
}

.openCloseIcon {
  font-size: 24px;
  margin: 0px !important;
  padding:0px !important;  
}

.menuHeader {
  display: flex;
  flex-flow: row-reverse;
}

.openCloseIconInMenu {
  font-size: 36px;
  margin-right: 10px;
  margin-bottom: 20px;
} 

.menu-container {
  max-width: 100vw;
  width: 100vw;
  height: 96vh;
  border: 0px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  height: 80vh;
  align-items: center;
  justify-content: flex-start space-around;
}
 
.sidenav {
  padding: 5px;
}

mat-icon {
  padding:2px;
}

.sidenav-button {
  width:100%;
}

.sidenav-settings-button {
  display: flex;
  flex-flow: row;
  width:100%;
  align-items: center;
}

.sidenav-bottom-button {
  display: flex;
  flex-flow: row;
  flex-basis: inherit;
  width: 100%;
  align-items: center;
  align-self: flex-end;
}

a {
  padding: 5px;
  margin:5px;
}

  