
<div class="settingsHeaderButtons" *ngIf="currentTab.value != 0" >
    <button (click)="updateCurrentTab(0)" mat-button autosize><mat-icon matPrefix>arrow_left</mat-icon> Back to user settings</button>
</div>

<mat-tab-group [selectedIndex]="currentTab.value">
        <mat-tab id="prodtitle" label="WBB Password Manager">
            <div class=lbl>Settings</div>

            <div class="example-button-row">
                <div>
                    <button mat-button (click)="updateCurrentTab(1)">Change Password</button>
                </div>
                <div>
                    <button mat-button (click)="updateCurrentTab(2)">Regenerate Private Key</button>
                </div>
                <div>
                    <button mat-button (click)="updateCurrentTab(3)">Delete Account</button>
                </div>
            </div>

        </mat-tab>

        <mat-tab class="changePassword" label="Change Password"></mat-tab>

        <mat-tab class="updateKey" label="Regenerate Private Key"></mat-tab>

        <mat-tab class="deleteAccount" label="Delete Account"></mat-tab>

</mat-tab-group>
