<header>
    <h1><u>Change Password</u></h1>
</header>

<div fxLayout="column">

    <!-- <fieldset>
        <mat-icon>perm_identity</mat-icon>
        <label for="username"><b>Name:</b></label>
        <input type="text" name="name" /><br><br>
    </fieldset>

    <fieldset>
        <mat-icon>how_to_reg</mat-icon>
        <label for="username"><b>Username:</b></label>
        <input type="text" username="username" /><br><br>
    </fieldset> -->

    <fieldset>
        <mat-icon>lock</mat-icon>
        <label for="password"><b>Enter-Pass:</b></label>
        <input type="password" name="password" /><br><br>
    </fieldset>

    <fieldset>
        <mat-icon>autorenew</mat-icon>
        <label for="passwordconfirm"><b>Confirm-Pass:</b></label>
        <input type="password" name="password" /><br><br>

    </fieldset>

    <button mat-raise-button><mat-icon>how_to_reg</mat-icon><b>Confirm</b></button><br><br>
</div>