<mat-tab-group [selectedIndex]="currentTab.value" mat-align-tabs="end" [headerPosition]="tabPosition">
    <mat-tab>
        <ng-template mat-tab-label class="tab-icon">
            <mat-icon>add</mat-icon>
            <span fxShow fxHide.xs fxHide.sm fxShow.md>Generate New</span>
        </ng-template>
        <div class="generatePWForm">
            <h1>Get a shiney new password</h1>
        <form [formGroup]="generatePWForm" (submit)="submitGeneratedPW(generatePWForm)">
            <mat-form-field>
                <input type="search" required name="url" matInput placeholder="domain/www.website.com" formControlName="domain" autocomplete="new-password">
                <mat-icon *ngIf="generatePWForm.get('domain').value != '' && !validateDomain(generatePWForm.get('domain').value).valueOf()" matSuffix>error_outline</mat-icon>
                <mat-icon *ngIf="generatePWForm.get('domain').value != '' && validateDomain(generatePWForm.get('domain').value).valueOf()" matSuffix>check</mat-icon>                                 
            </mat-form-field>      
            <button mat-raised-button matRippleColor="#007bc6" type="button" (click)="generatePW()"><mat-icon matSuffix>refresh</mat-icon>Generate</button><br>
            <mat-form-field *ngIf="generatePWForm.get('pw').value !== ''">
                <input type="{{!visibilityIcon ? 'password' : 'text' }}" matInput placeholder="Heres a password for you!" formControlName="pw" [readonly]="true">
                <mat-icon class="iconcontrol" matRipple matRippleRadius="11" matRippleUnbounded="true" matRippleColor="#007bc6"
                 (click)="visibilityIcon = !visibilityIcon" matSuffix>{{visibilityIcon ? 'visibility' : 'visibility_off' }}</mat-icon>
                <mat-icon class="iconcontrol" matRipple matRippleRadius="11" matRippleUnbounded="true" matRippleColor="#007bc6"
                 (click)="openSnackBar('Copied to clipboard','ok')" [cdkCopyToClipboard]="generatePWForm.get('pw').value" matSuffix>content_copy</mat-icon>
            
            </mat-form-field>
            <div class="submitbuttonarea">
                <button mat-raised-button matRippleColor="#007bc6" *ngIf="generatePWForm.get('pw').value != ''" type="submit">Save <mat-icon matSuffix>check</mat-icon></button>
                <button mat-raised-button matRippleColor="#007bc6" (click)="resetForm()" *ngIf="generatePWForm.get('pw').value != ''" type="button">Add Another</button>
            </div>
        </form>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label class="tab-icon">
            <mat-icon>edit</mat-icon>
            <span fxShow fxHide.xs fxHide.sm fxShow.md>Save new details</span>
        </ng-template>
        <div class="savePWForm">
            <h1>Save your complex password</h1>
            <form [formGroup]="savePWForm" (submit)="submitNewPW(savePWForm)">
                <mat-form-field>
                    <input name="url" required type="search" matInput placeholder="domain/www.website.com" formControlName="domain" autocomplete="new-password">
                    <mat-icon *ngIf="savePWForm.get('domain').value != '' && !validateDomain(savePWForm.get('domain').value).valueOf()" matSuffix>error_outline</mat-icon>
                    <mat-icon *ngIf="savePWForm.get('domain').value != '' && validateDomain(savePWForm.get('domain').value).valueOf()" matSuffix>check</mat-icon>                                 
                </mat-form-field>      
                <br>
                <mat-form-field>
                    <input name="new-password" required type="{{!visibilityIcon ? 'password' : 'search' }}" matInput placeholder="Your new password" formControlName="pw" autocomplete="new-password">
                    <mat-icon class="iconcontrol" matRipple matRippleRadius="11" matRippleUnbounded="true" matRippleColor="#007bc6"
                        (click)="visibilityIcon = !visibilityIcon" matSuffix>{{visibilityIcon ? 'visibility' : 'visibility_off' }}</mat-icon>
                    <mat-icon class="iconcontrol" matRipple matRippleRadius="11" matRippleUnbounded="true" matRippleColor="#007bc6"
                        (click)="openSnackBar('Copied to clipboard','ok')" [cdkCopyToClipboard]="savePWForm.get('pw').value" matSuffix>content_copy</mat-icon>
                </mat-form-field>

                <mat-label> Password Strength: </mat-label><mat-progress-bar mode="determinate" [value]="passStrength(savePWForm.get('pw').value)"></mat-progress-bar>
                <br>
                <div class="submitbuttonarea">
                    <button mat-raised-button matRippleColor="#007bc6" *ngIf="savePWForm.get('pw').value != ''" type="submit">Save <mat-icon matSuffix>check</mat-icon></button>
                    <button mat-raised-button matRippleColor="#007bc6" (click)="resetForm()" *ngIf="savePWForm.get('pw').value != ''" type="button">Add Another</button>
                </div>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>