
::-webkit-scrollbar {
    width: 0px;
  }

.mat-tab-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: center;
    justify-content: center space-around;
}

.mat-tab-group-inverted-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: center;
    align-items: center;
    justify-content: center space-around;
}

 :host /deep/ .mat-tab-body-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: center;
    justify-content: center space-around;
    padding:8px;
}

.generatePWForm {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center space-around;
    margin: 14%;
}

.savePWForm {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center space-around;
    margin: 14%;
}

.tab-icon {
    margin-right: 8px;
  }

  h1 {
    font-size: 2em;
    margin-top:1%;
    text-align: center;
}

form {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center space-around;
    margin: 6%;
}

button {
    margin:5px;
}

mat-label {
    text-align: center;
    align-self: center;
    padding: 2px;
}

mat-icon {
    padding-left:8px;
    padding-right:8px;
}

.iconcontrol {
    position: relative;
}

.submitbuttonarea {
    display: flex;
    flex-direction: row;
}

.mat-progress-bar {
    max-width: 100px;
}

.mat-form-field {
    text-align: center;
    max-width: 50vw !important;
    min-width: 240px;
}
  
input {
    margin-left: 5px;
    text-align: justify;
    align-self: center;
    padding:2px;
}
