<header>
<h1>Login</h1>
</header>

<div>
<form align="center">
        <mat-icon>perm_identity</mat-icon>
        <label for="username"><b>Username:</b></label>
        <input type="text" name="username" required/><br><br>
        <mat-icon>vpn_key</mat-icon>
        <label for="password"><b>Password:</b></label>
        <input type="password" name="password" required/><br><br>
        <button mat-raise-button><mat-icon>lock_open</mat-icon>Login</button><br><br>
        <a routerLink="/register" >Register</a>
</form>
</div>
